{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="calendar-assets">
            <h1 id="currentDate"></h1>
            <div class="field">
                <label for="date">vybrat datum</label>
                <form class="form-input" id="date-search" onsubmit="return setDate(this)">
                    <input type="date" class="text-field" name="date" id="date" required>
                    <button type="submit" class="btn btn-small" title="Pesquisar"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="day-assets">
                <button class="btn" onclick="prevDay()" title="Dia anterior"><i class="fas fa-chevron-left"></i> </button>
                <button class="btn" onclick="resetDate()" title="Dia atual"><i class="fas fa-calendar-day"></i> Dnes </button>
                <button class="btn" onclick="nextDay()" title="Próximo dia"><i class="fas fa-chevron-right"></i> </button>
            </div>
        </div>
        <div class="calendar" id="table">
            <div class="header">
                <!-- Aqui é onde ficará o h1 com o mês e o ano -->
                <div class="month" id="month-header">

                </div>
                <div class="buttons">
                    <button class="icon" onclick="prevMonth()" title="Mês anterior"><i class="fas fa-chevron-left"></i></button>
                    <button class="icon" onclick="nextMonth()" title="Próximo mês"><i class="fas fa-chevron-right "></i></button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/812e771e48.js" crossorigin="anonymous"></script>
    {% block content %}
    {% endblock content %}
</body>

</html>
